.telephone{
	width: 500px;
	z-index: 2;
	left: 0;
	position: absolute;
}

.playStore img{
	width: 500px;
}

.qrCode img{
	width: 100px;
}

.qrCode p{
	display: inline-block;
}

#section {

display: none;
-webkit-transition: display .5s ease-in-out;
-moz-transition: display .5s ease-in-out;
-o-transition: display .5s ease-in-out;
transition: display .5s ease-in-out;
}

#section:target {
background-color: rgba(150,150,150,0.7);
display: inline-block;
position: fixed;
top: 0;
left:0;
right:0;
bottom: 0;
z-index: 10;
}

#sectionContent{
	margin-top: 150px;
}

#sectionContent{
	background-color: rgba(150,150,150,1);
	padding: 50px;
}

#sectionContent label{
	float: none;
	text-align: left;
}

#sectionContent>a{
	text-decoration: none;
	position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

#main{
    min-height: calc(100vh - 71px)
}

footer a{
	margin-left:10px;
}

input[type="checkbox"]:focus {
    outline: none;
}

section h2{
	margin-bottom: 20px;
}

.home-left .col-sm-12{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.home-left .col-lg-12{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.home-left h3{
	margin: 50px 0;
}
/*.fixed-home{
	position: fixed;
	margin-top: 200px;
	top:0;
	right:0;
}*/

*{
	max-width: 100%;
}

.element img{
	height:100%;
}

.floatNone{
	float: none;
}

.mAuto{
	margin: 0 auto;
}

.element img{
    margin-top: 40px;
}

.element p{
    margin: 25px;
}

.caroufleche{
	opacity: 0;
}
.telephone{
	display: none;
}
#myCarousel{
	margin: 50px auto;	
}

@media (min-width:767px){
	#myCarousel>.carousel-inner{
		z-index: 1;
	}
	#myCarousel>.telephone{
		max-width: 500px;
		display: inherit;
		left: -93px;
		top: -50px;
	}
	#myCarousel{
		max-width: 321px;
	}
}

.graphique{
	margin-bottom: 40px;
}


.edition {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }

 .edition>a{
	text-decoration: none;
	position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}

#background {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.edition h3, .btn, .btn-mettreAjour{
	text-align: center;
}

#listeTag div{
	display: inline-block;
	padding: 8px;
	margin: 2px;
	border-radius: 3px;
	border: 1px #bbb black;
	background-color: #ddd;
}

#listeTag i{
	margin-left: 5px;
	cursor: pointer;
}

.test, input {
    border-width: 2px;
    box-shadow: none;
}
.test {
    display: block;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857;
    color: #2C3E50;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #DCE4EC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

  @media screen and (max-width: 540px) {
    .edition {
      width: 300px;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }

 #multih3{
 	padding-top: 50px;
 }
#multi{
	padding: 50px;
}

 #container{
 	margin: 0 auto;
 }

.navbar-header img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
}

.inputFile{
	margin: 20px 0;
}
.pointeur{
	cursor: pointer;
}
i{
	color: black;
	vertical-align:middle;
}