{% extends "base.html" %}
{% block main %}
	<h2>Nous contacter:</h2>
	 <form class="form-horizontal" method="POST" action="{{ url_for('envoyerContact')}}">
	 	{{ form.hidden_tag() }}
	    <div class="form-group">
	        {{ form.titre.label(class_="col-sm-1 control-label") }}
	        <div class="col-sm-11">
	        	{{ form.titre(class_="form-control", placeholder="Exemple: Demande d'informations") }}
	        </div>
	    </div>
	    <div class="form-group">
	        {{ form.email.label(class_="col-sm-1 control-label") }}
	        <div class="col-sm-11">
	        	 {{ form.email(class_="form-control", placeholder="Email") }}
	        </div>
	    </div>
	    <div class="form-group">
	        {{ form.message.label(class_="col-sm-1 control-label") }}
	        <div class="col-sm-11">
	        	 {{ form.message(class_="form-control", placeholder="Message", rows="4" ) }}
	        </div>
	    </div>
	    {% with messages = get_flashed_messages(with_categories=true) %}
			        {% if messages %}
			            {% for categorie, m in messages %}
			            	{% if categorie=="erreurContact" %}
			                	<div class="alert alert-danger">{{ m }}</div>
			                {% endif %}
			            {% endfor %}
			        {% endif %}
		{% endwith %}

	    <div class="form-group">
	        <div class="col-sm-10 col-sm-offset-1">
	            <input id="submitContact" name="submit" type="submit" value="Envoyer" class="btn btn-primary">
	        </div>
	    </div>
	</form>
{% endblock %}