{% extends "base.html" %}
{% block main %}
	<form class="form-horizontal" enctype="multipart/form-data" role="form" method="POST" action="{{ url_for('uploadFichier')}}">
	    <div class="form-group">
	        <label for="pseudo" class="col-sm-1 control-label">{{ form.username.label }}</label>
	        <div class="col-sm-11">
	        	{{ form.username(class_="form-control", placeholder="Exemple: Tie21") }}
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="password" class="col-sm-1 control-label">{{ form.password.label }}</label>
	        <div class="col-sm-11">
	        	 {{ form.password(class_="form-control", placeholder="Mot de passe") }}
	        </div>
	    </div>
		<div class="form-group">
	        <div class="col-sm-10 col-sm-offset-1">
	            {{ form.fichier(class_="file-custom") }}
	        </div>
	    </div>
	    
	    <div class="form-group">
	        <div class="col-sm-10 col-sm-offset-1">
	            <input id="submit" name="submit" type="submit" value="Envoyer" class="btn btn-primary">
	        </div>
	    </div>
	</form>
{% endblock %}