{% extends "base.html" %}
{% block main %}
	<h2>Graphiques par recherche :</h2>
	 <form class="form-horizontal" method="POST" action="{{ url_for('recherche')}}">
	 	{{ form.csrf_token }}
	 	<div class="form-group">
            <div>
                <div>
                    {{ form.recherche(class_="form-control", required=form.recherche.flags.required) }}
                </div>
            </div>
        </div>

        <div class="col-sm-12">
		    <div class="form-group col-sm-4" >
		       {{ form.affinage.label(class_="col-sm-6 control-label", onclick="changeAffinage();") }}
		        <div class="col-sm-6"  onclick="changeAffinage();">
		        	{{ form.affinage(class_="form-control") }}
		        </div>
		    </div>
	    </div>
	    <div id="affinageForm"  {% if affinage or form.affinage.data %}
	    							style="display: inherit;"
	    						{% else %}
	    							style="display: none;"
	    						{% endif %} >
		   	<div class="form-group col-sm-6" >
		        {{ form.typeRecherche.label(class_="col-sm-5") }}
		        <div class="col-sm-7">
		        	{% for subfield in form.typeRecherche %}
					    <div>
					        {{ subfield }}
					        {{ subfield.label }}
					    </div>
					{% endfor %}
		        </div>
		    </div>

		   	<div class="form-group col-sm-6" >
		        {{ form.date.label(class_="col-sm-12") }}
		        <div class="col-sm-6">
		        	{% for subfield in form.date %}
					    <div>
					        {{ subfield }}
					        {{ subfield.label }}
					    </div>
					{% endfor %}
		        </div>

		        <div class="col-sm-6 input-group">
		        	{{ form.dateNumber(class_="mCalendarFR form-control") }}
		        </div>
		    </div>
		</div>


	    <div class="form-group">
	        <div class="col-sm-10 col-sm-offset-1">
	            <input id="submitRecherche" name="submit" type="submit" value="Envoyer" class="btn btn-primary">
	        </div>
	    </div>

		
	</form>

	<div>
		{% if reponse!=None %}
			{% if reponse!=[] %}
				<form class="form-horizontal" method="POST" action="{{ url_for('graphiques')}}">
					{% for id, name in reponse %}
					<div class="col-sm-12">
					    <label>{{ name }}</label>
		                <input type="checkbox" name="choix" value="{{id}}" />
				    </div>
		            {% endfor %}
		            <div class="form-group">
				        <div class="col-sm-10 col-sm-offset-1">
				            <input id="submit" name="submit" type="submit" value="Afficher les graphiques" class="btn btn-primary">
				        </div>
				    </div>
		        </form>
		    {% else %}
		    	<h3 class="text-center">Aucun contenu ne correspond à "{{ form.recherche.data }}"</h3>
	        {% endif %}
        {% endif %}

	</div>
		<script type="text/javascript" src="{{ url_for('static', filename='mCalandar.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendrier.css') }}">
	<script type="text/javascript">
		function changeAffinage() {
			if(document.getElementById("affinageForm").style.display == "none"){
				document.getElementById("affinageForm").style.display="inherit";
			}
			else{
				document.getElementById("affinageForm").style.display="none";
			}
		}
	</script>
{% endblock %}
