{% extends "base.html" %}
{% block main %}
    {% set path = request.path[8:] %}
    {% if path=="" %}
        {% set path = 'root' %}
    {% endif %}
    <h3>Inscription</h3>
    <form class="form-horizontal" method="POST" action="{{ url_for('signin', code=path) }}">
        {{ inscription.hidden_tag() }}
        <div class="form-group">
            <div>
                {{ inscription.usernameSignin.label(class_="text-left control-label") }}
                <div>
                    {{ inscription.usernameSignin(required=inscription.usernameSignin.flags.required, class_="form-control") }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                {{ inscription.passwordSignin.label(class_="text-left control-label") }}
                <div>
                    {{ inscription.passwordSignin(required=inscription.passwordSignin.flags.required, class_="form-control") }}
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div>
                {{ inscription.confPassword.label(class_="text-left control-label") }}
                <div>
                    {{ inscription.confPassword(required=inscription.passwordSignin.flags.required, class_="form-control") }}
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for categorie, m in messages %}
                    {% if categorie=="signin" %}
                        <div class="form-group alert alert-danger">{{ m }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="form-group">
            <div>
                <div>
                    <input id="submitSignin" name="submit" type="submit" value="Envoyer" class="col-sm-12 btn btn-primary">
                </div>
            </div>
        </div>
    </form>
{% endblock %}